/* Global styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Container for the game field */
#gamefield {
  border: 1px solid chartreuse;
  display: grid;
  justify-content: center;
  width: fit-content;
}

/* Container for items */
#items {
  grid-area: 1 / 1;
  display: grid;
  position: relative;
  grid-template-columns: repeat(var(--GRID_WIDTH), var(--TILE_SIZE));
  grid-template-rows: repeat(var(--GRID_HEIGHT), var(--TILE_SIZE));
}

/* Styling for individual items */
.item {
  width: var(--TILE_SIZE);
  aspect-ratio: 1 / 1;
  background-size: 100%;
  image-rendering: pixelated;
  grid-area: calc(var(--row) + 1) / calc(var(--col) + 1);
}

/* Items */
.item.gold {
  background-image: url(items/gold.png);
}

.item.chest-closed {
  background-image: url(items/chest_closed.png);
}

.item.chest-open {
  background-image: url(items/chest_open.png);
}

.item.gems {
  background-image: url(items/gems.png);
}

.item.pot {
  background-image: url(items/pot.png);
}

.item.pot-smashed {
  background-image: url(items/pot_smashed.png);
}

.item.sign {
  background-image: url(items/sign.png);
}

/* Background grid */
#background {
  grid-area: 1 / 1;
  display: grid;
  grid-template-columns: repeat(var(--GRID_WIDTH), max-content)
}

/* Highlighted area */
.highlight {
  outline: 2px dashed yellow;
  translate: 0 0;
}

/* Tiles in the background */
#background .tile {
  width: var(--TILE_SIZE);
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-size: 100%;
  image-rendering: pixelated;
}

/* Different types of tiles */
.tile.path {
  background-image: url("tiles/path.png");
}

.tile.wall {
  background-image: url("tiles/wall.png");
}

.tile.cliff {
  background-image: url("tiles/cliff.png");
}

.tile.redwall {
  background-image: url("tiles/redwall.png");
}

.tile.floorcarpet {
  background-image: url("tiles/floor_carpet.png");
}

.tile.mine {
  background-image: url("tiles/mine.png");
}

.tile.floor_stone {
  background-image: url("tiles/floor_stone.png");
}

.tile.well {
  background-image: url("tiles/well.png");
}

.tile.gate {
  background-image: url("tiles/gate.png");
}

.tile.abyss {
  background-image: url("tiles/abyss.png");
}

.tile.door {
  background-image: url("tiles/door.png");
}

.tile.wall {
  background-image: url("tiles/wall.png");
}

.tile.chest {
  background-image: url("tiles/chest.png");
}

.tile.floor {
  background-image: url("tiles/floor_planks.png");
}

.tile.water {
  background-image: url("tiles/water.png");
}

.tile.lava {
  background-image: url("tiles/lava.png");
}

.tile.tree {
  background-image: url("tiles/tree.png");
}

.tile.flowers {
  background-image: url("tiles/flowers.png");
}

.tile.grass {
  background-image: url("tiles/grass.png");
}

.tile.fencehori {
  background-image: url("tiles/fence_hori.png");
}

.tile.fencevert {
  background-image: url("tiles/fence_vert.png");
}

/* Styling for showing a rectangle */
.show-rect {
  outline: 2px solid red;
}

/* Styling for showing a registration point */
.show-reg-point::before {
  content: "";
  position: absolute;
  background-color: cyan;
  width: 3px;
  height: 3px;
  translate: var(--regX) var(--regY);
}

/* Additional styling for items and characters */
#items {
  grid-area: 1 / 1;
  display: grid;
  position: relative;
  grid-template-columns: repeat(var(--GRID_WIDTH), var(--TILE_SIZE));
  grid-template-rows: repeat(var(--GRID_HEIGHT), var(--TILE_SIZE));
}

#characters {
  grid-area: 1 / 1;
}

.take {
  animation: itemDissapear 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes itemDissapear {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

/* Styling for the enemy character */
#enemy {
  width: 15px;
  aspect-ratio: 16 / 20;
  background-image: url("images/characters/Character 5.png");
  background-size: 400% 400%;
  image-rendering: pixelated;
  animation-name: down;
}

/* Animation for enemy movement */
#enemy.animate {
  animation-duration: 1s;
  animation-timing-function: steps(4);
  animation-iteration-count: infinite;
}

/* Animation keyframes for enemy movement */
#enemy.down {
  background-position: 0% 0%;
  animation-name: down;
}

#enemy.up {
  background-position: 0% -100%;
  animation-name: up;
}

#enemy.left {
  background-position: 0% -200%;
  animation-name: left;
}

#enemy.right {
  background-position: 0% -300%;
  animation-name: right;
}

/* Keyframes for enemy animation */
@keyframes up {
  from {
    background-position: 0% -100%;
  }

  to {
    background-position: -400% -100%;
  }
}

@keyframes left {
  from {
    background-position: 0% -200%;
  }

  to {
    background-position: -400% -200%;
  }
}

@keyframes right {
  from {
    background-position: 0% -300%;
  }

  to {
    background-position: -400% -300%;
  }
}

@keyframes down {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: -400% 0%;
  }
}

/* Styling for the player character */
#player {
  width: 15px;
  aspect-ratio: 16 / 20;
  background-image: url("images/characters/Character 1.png");
  background-size: 400% 400%;
  image-rendering: pixelated;
  animation-name: down;
}

/* Animation for player movement */
#player.animate {
  animation-duration: 1s;
  animation-timing-function: steps(4);
  animation-iteration-count: infinite;
}

/* Animation keyframes for player movement */
#player.down {
  background-position: 0% 0%;
  animation-name: down;
}

#player.up {
  background-position: 0% -100%;
  animation-name: up;
}

#player.left {
  background-position: 0% -200%;
  animation-name: left;
}

#player.right {
  background-position: 0% -300%;
  animation-name: right;
}

/* Keyframes for player animation */
@keyframes up {
  from {
    background-position: 0% -100%;
  }

  to {
    background-position: -400% -100%;
  }
}

@keyframes left {
  from {
    background-position: 0% -200%;
  }

  to {
    background-position: -400% -200%;
  }
}

@keyframes right {
  from {
    background-position: 0% -300%;
  }

  to {
    background-position: -400% -300%;
  }
}

@keyframes down {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: -400% 0%;
  }
}